@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 5% 25%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 25%;
    --primary: 255 41% 85%;
    --primary-foreground: 255 10% 20%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 25%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 170 100% 82%;
    --accent-foreground: 170 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 255 41% 85%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 41% 85%;
    --primary-foreground: 255 10% 20%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 170 100% 82%;
    --accent-foreground: 170 100% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 255 41% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
